body
	:background
		:attachment fixed
		:repeat no-repeat
		:position center center

a
	:color white
	:font-weight bolder
	:padding 0.5em
	:text-decoration none

	&:hover
		:background-color white
		:color black

.header
	:background black
	:color white

	p
		:font
			:size 2.2em
			:weight bolder

.links
	:background rgba(75, 75, 75, 0.5)
	:color white
	:line-height 3.5em
